<div class="foot lcbb_footer">
  <div class="container lcbb_middle">
    <div class="row">
      <div class="span12">
        <a href="/">网站首页</a>|
        <a href="/pages/aboutus.html">关于我们</a>|
        <a href="/pages/coporation.html">商务合作</a>|
        <a href="/pages/links.html">友情链接</a>
      </div>
      <p class="P_1"> Copyright &copy; 2012 ~ 2014 25752.com Inc. All Rights Reserved. 京ICP备12018235号-2</p>
    </div>
  </div>
</div>
<script type='text/javascript' src='http://lcdn.qiniudn.com/media/v2/js/common.js'></script>
